/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css

*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: "Arimo", arial, verdana, sans-serif;
font-weight:normal;
}

h1{
font-color:white;
}

thead th,
tbody th{
font-family: "Arimo", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Arimo", arial, verdana, sans-serif;
}

.menu{
font-family: "Arimo", arial, verdana, sans-serif;
}

blockquote{
font-family: "Arimo", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0 0 0 0;
color:#000;
background:lightgrey url(back.jpg);
font:normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
text-shadow: 0 0 1px transparent; /* google font pixelation fix */
}

#wrap{
width:100%;
background:#fff;
margin:30px auto 30px auto;
padding:0 2%;
border:1px solid #ccc;
}


#footer{
text-align:center;
padding:20px;
margin:0;
border-top:1px solid #ddd;
color:#999;
font-size:0.8em;
text-shadow:0px 1px 1px #fff;
position: relative;
top:0;
left:0;
background:#fff;
}

	#link-top{
	display:none;
	}

/* NAV BAR*/
.navbar{
position:fixed;
top:0;
left:0;
width: 100%;
height:50px;
background:#000;
color:#000;
z-index:1000;
}

	.navbar #logo{
	position:absolute;
	top:0;
	left:0;
	padding:0.5em 1em;
	margin: 5px;
	font-size: 1.7em;
	font-color: black;
	color:#efefef;
	text-decoration:none;
	}

	.navbar #notifications{
	position:absolute;
	width:230px;
	top:13px;
	right:0%;
	
	}
	.navbar .nav_but{
		height:50%;
		
	}

	.navbar span{
	color:#86dc00;
	}


	.navbar ul{
	display:inline-block;
	margin:0;
	padding:0;
	}

		.navbar li{
		margin:0;
		padding:0;
		list-style-type:0;
		display:inline-block;
		}

		.navbar li a{
		display:inline-block;
		color:#efefef;
		padding:1em 1.3em;
		text-decoration:none;
		text-transform: uppercase;
		line-height:100%;
		font-size: 1.2em;
		}

.callout{
background:#4598ef;/*#86dc00;*/
padding:3em 0;
color:#fff;
box-shadow:inset 0 0 10px rgba(0,0,0,0.2);
text-align: center;
text-shadow:0px 1px 3px rgba(0,0,0,0.2);
display:block;
}
	.callout + div.grid{margin-top:50px;}
	 a.callout{cursor:pointer;}
	 .callout i.icon-4x{font-size:6em;}
	 .callout h4{margin-bottom:30px;}
	 .callout-top{margin:50px 0 0 0;}
	 .callout p{margin-bottom:0;}
	 .callout .button{margin-top:10px;}
	 .callout.green{background:#19ad0b;/*#86dc00;*/}

#mc_embed_signup{
padding:30px 0;
}

#ui-preview{
border:5px solid #ddd;
margin:30px 0;
display:block;
}

.container{
background-color: #fff;
width:30%;
}

.container h1 {
font-size: 1.7em;
color: #86dc00;
letter-spacing:3px;
}
.container span {color:white}
.container input{width:100%}
.container button.medium.green{width:100%}
.container caption{background-color:black;
width:100%;}

#user_in{
-webkit-border-bottom-left-radius: 0px;
border-bottom-left-radius: 0px;
-webkit-border-bottom-right-radius: 0px;
border-bottom-right-radius: 0px;
}

#pass_in{
-webkit-border-top-left-radius: 0px;
border-top-left-radius: 0px;
-webkit-border-top-right-radius: 0px;
border-top-right-radius: 0px;
}

#user_bar
{
position:fixed;
left:10px;
top:80px;
width: 180px;
height: 83%;
margin: 0;
}

#user_bar
{
background-color: #fff;
border: 2px solid black;
}
#photo
{

}

#user_bar h1 {
font-size: 1.3em;
color: #86dc00;
letter-spacing:3px;
}
#user_bar caption
{
background-color:black;
width:100%;
}


#main
{
position: fixed;
top: 80px;
left: 250px;
width: 80%;
height: 83%;
background-color: #fff;
border: 2px solid black;
color: #000;
z-index: 1000;
overflow: auto;
}